@tailwind base;
@tailwind components;
@tailwind utilities;

.homepage {
  background-image: url("/background.png");
  background-size: cover;
}
.homeTwo {
  background-image: url("/abstract.png");
  background-size: cover;
}
.testimonial {
  background-image: url("/testimonial.png");
  background-size: cover;
}
.about {
  background-image: url("/background.png");
  background-size: cover;
}

